# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
packages/webserver/node_modules
packages/webui/node_modules

# build
packages/webserver/dist
packages/webui/build

# test coverage
packages/webserver/coverage

#logs
packages/webserver/logs

# misc
.DS_Store
.idea

#playwright
# Playwright
packages/e2eTests/node_modules/
packages/e2eTests/test-results/
packages/e2eTests/playwright-report/
packages/e2eTests/blob-report/
packages/e2eTests/playwright/.cache/